*{
    margin: 0 auto;
    padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 1000;
}
body {
    background-color: #3F4556;
}

@import 'components/variables';
@import 'components/container';
@import 'components/screen';
@import 'components/keyboard';

