.container_keyboard{
    max-width: 370px;
    min-width: 370px;
    max-height: 570px;
    min-height: 570px;
    margin-top: 10px;
    .container_keyboard--row{
        .container_keyboard--td{
            width: 50px;
        }
        .container_keyboard--button {
            min-width: -webkit-fill-available;
            font-size: xxx-large;
            height: 85px;
            border-radius: 50px;
            background-color: $base__color2;
            color: #fff;
            margin: 3px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
#equals__td{
    background-color: $base__color3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 45px;
}
#equals {
    box-shadow: none;
    background-color: $base__color3;
}
#C {
    background-color: $base__color3;
}
#D,#split, #X, #subtraction, #sum, #percent, #dot{
    color: $base__color3;
}
